.body {
  min-height: 3500px;
}

.jumbotron {
  padding-top: 5rem;
  padding-bottom: 0%;
  background-color: ADF1F1;
  padding-right:0%;
  padding-left:0%;
  margin-bottom:0%;
}
#about {
  padding-bottom: 0%;
  background-color: ADF1F1;
}
#projects {
  background-color: ADF1F1;
}
